.tableInfo {
  width: 100%;
}

.tableInfo_container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  flex-direction: column;
}

table {
  width: 100%;
  text-align: center;
}

th {
  font-weight: 600;
}

th,
td {
  padding: 0.5rem;
  border: 1px solid black;
}

.table_button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.table_button button {
  width: 40%;
}
